CONFIG_IKCONFIG_PROC=y
CONFIG_OPROFILE=y
CONFIG_GPIO_PCA953X=y
CONFIG_MACH_CL2N=y
CONFIG_SCHED_SMT=y
CONFIG_USE_OF=y
CONFIG_IP_PNP=y
CONFIG_IP_PNP_DHCP=y
CONFIG_IP_PNP_BOOTP=y
CONFIG_IP_PNP_RARP=y
# CONFIG_INET_XFRM_MODE_TUNNEL is not set
# CONFIG_INET_XFRM_MODE_BEET is not set
# CONFIG_INET_DIAG is not set
CONFIG_IPV6_TUNNEL=y
CONFIG_NF_CONNTRACK_SIP=y
CONFIG_NETFILTER_XT_MATCH_CONNBYTES=y
CONFIG_IP6_NF_SECURITY=y
CONFIG_NET_SCH_INGRESS=y
CONFIG_NET_ACT_POLICE=y
CONFIG_NET_ACT_GACT=y
CONFIG_NET_ACT_MIRRED=y
CONFIG_NL80211_TESTMODE=y
CONFIG_LIB80211=y
CONFIG_MAC80211=y
CONFIG_CAIF=y
CONFIG_NFC=y
CONFIG_PN544_NFC=y
# CONFIG_FIRMWARE_IN_KERNEL is not set
CONFIG_AD525X_DPOT=y
CONFIG_AD525X_DPOT_I2C=y
CONFIG_APDS9802ALS=y
CONFIG_MAX1749_VIBRATOR=y
CONFIG_LIS3DH_ACCELEROMETER=y
CONFIG_PPP_FILTER=y
CONFIG_PPP_ASYNC=y
CONFIG_PPP_SYNC_TTY=y
CONFIG_USB_USBNET=y
CONFIG_USB_NET_SMSC95XX=y
# CONFIG_USB_NET_NET1080 is not set
# CONFIG_USB_BELKIN is not set
# CONFIG_USB_ARMLINUX is not set
# CONFIG_USB_NET_ZAURUS is not set
CONFIG_USB_NET_RAW_IP=y
CONFIG_BCMDHD_FW_PATH="/system/vendor/firmware/fw_bcmdhd.bin"
CONFIG_BCMDHD_NVRAM_PATH="/system/etc/nvram_4330.txt"
CONFIG_TOUCHSCREEN_FT5X06=y
CONFIG_INV_AK8975=y
CONFIG_INV_MPU=y
CONFIG_INPUT_SOLTEAM_JSA1127=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_GPIO_MAX77663=y
CONFIG_BATTERY_BQ27x00=y
# CONFIG_BATTERY_BQ27X00_PLATFORM is not set
CONFIG_CHARGER_SMB349=y
CONFIG_CHARGER_GPIO=y
CONFIG_SENSORS_TEGRA_TSENSOR=y
CONFIG_SENSORS_INA219=y
CONFIG_AIC3XXX_CORE=y
CONFIG_MFD_MAX77663=y
CONFIG_REGULATOR_USERSPACE_CONSUMER=y
CONFIG_REGULATOR_GPIO=y
CONFIG_REGULATOR_MAX77663=y
CONFIG_VIDEO_S5K5CAG=y
CONFIG_VIDEO_MT9M114_CL2N=y
CONFIG_TEGRA_NVHDCP=y
CONFIG_SND_HDA_INTEL=y
CONFIG_SND_HDA_PLATFORM_DRIVER=y
CONFIG_SND_HDA_PLATFORM_NVIDIA_TEGRA=y
CONFIG_SND_HDA_POWER_SAVE=y
CONFIG_SND_HDA_POWER_SAVE_DEFAULT=10
CONFIG_SND_SOC_TEGRA_TLV320AIC326X=y
CONFIG_MMC_TEST=y
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_GPIO=y
CONFIG_USB_SERIAL_BASEBAND=y
CONFIG_RTC_DRV_MAX77663=y
CONFIG_ANDROID_TIMED_GPIO=y
CONFIG_ROOT_NFS=y
CONFIG_DEBUG_SECTION_MISMATCH=y
CONFIG_LOCKUP_DETECTOR=y
# CONFIG_DETECT_HUNG_TASK is not set
CONFIG_DEBUG_VM=y
CONFIG_FAULT_INJECTION=y
CONFIG_FAILSLAB=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_FAULT_INJECTION_STACKTRACE_FILTER=y
# CONFIG_FUNCTION_GRAPH_TRACER is not set
CONFIG_CRYPTO_DEV_TEGRA_AES=y
