CONFIG_MACH_GROUPER=y
CONFIG_TEGRA_BB_XMM_POWER=y
CONFIG_CMDLINE="tegra_wdt.heartbeat=30"
CONFIG_PM_DEBUG=y
CONFIG_IP_MULTICAST=y
CONFIG_NFC=y
CONFIG_PN544_NFC=y
CONFIG_CMA=y
CONFIG_USB_NET_RNDIS_WLAN=y
CONFIG_USB_NET_RAW_IP=y
CONFIG_BCMDHD_FW_PATH="/system/vendor/firmware/fw_bcmdhd.bin"
CONFIG_BCMDHD_NVRAM_PATH="/system/etc/nvram.txt"
CONFIG_DHD_USE_SCHED_SCAN=y
CONFIG_INPUT_LID=y
CONFIG_TOUCHSCREEN_ELAN_TF_3K=y
CONFIG_INPUT_KEYCHORD=y
CONFIG_SENSORS_CAP1106=y
CONFIG_GPIO_MAX77663=y
CONFIG_GPIO_TPS65910=y
CONFIG_BATTERY_BQ27x00=y
CONFIG_CHARGER_GPIO=y
CONFIG_CHARGER_SMB347=y
CONFIG_SENSORS_TEGRA_TSENSOR=y
CONFIG_SENSORS_AL3010=y
CONFIG_MFD_TPS65910=y
CONFIG_MFD_MAX77663=y
CONFIG_MFD_TPS6591X=y
CONFIG_REGULATOR_MAX77663=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_REGULATOR_TPS65910=y
CONFIG_REGULATOR_TPS6591X=y
CONFIG_VIDEO_MI1040=y
CONFIG_SND_SOC_TEGRA_RT5640=y
CONFIG_HEADSET_FUNCTION=y
CONFIG_USB_HIDDEV=y
CONFIG_USB_SERIAL_BASEBAND=y
CONFIG_RTC_DRV_MAX77663=y
CONFIG_RTC_DRV_TPS6591x=y
CONFIG_ANDROID_TIMED_GPIO=y
CONFIG_IIO=y
CONFIG_IIO_BUFFER=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_INV_MPU_IIO=y
CONFIG_INV_AMI306_IIO=y
CONFIG_RIL=y
CONFIG_AVERAGE=y
