CONFIG_RD_LZMA=y
CONFIG_ARCH_ACER_T30=y
CONFIG_MACH_PICASSO=y
CONFIG_CMDLINE="tegra_wdt.heartbeat=30"
CONFIG_BCM4329_RFKILL=y
CONFIG_STK2203_LIGHT_SENSOR=y
CONFIG_EEPROM_AT24C02C=y
CONFIG_MPU_SENSORS_TIMERIRQ=y
CONFIG_INV_SENSORS=y
CONFIG_MPU_SENSORS_MPU3050=y
CONFIG_MPU_SENSORS_KXTF9=y
CONFIG_MPU_SENSORS_AK8975=y
CONFIG_BCMDHD_NVRAM_PATH="/vendor/firmware/bcmdhd.cal"
CONFIG_DHD_USE_SCHED_SCAN=y
CONFIG_TOUCHSCREEN_ATMEL_MXT=y
CONFIG_GPIO_TPS65910=y
CONFIG_BATTERY_BQ27x00=y
CONFIG_CHARGER_GPIO=y
CONFIG_SENSORS_TEGRA_TSENSOR=y
CONFIG_MFD_TPS65910=y
CONFIG_MFD_TPS6591X=y
CONFIG_REGULATOR_GPIO=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_REGULATOR_TPS65910=y
CONFIG_REGULATOR_TPS6591X=y
CONFIG_VIDEO_OV5640_ACER=y
CONFIG_VIDEO_OV9740=y
CONFIG_TEGRA_NVHDCP=y
CONFIG_SND_HDA_INTEL=y
CONFIG_SND_HDA_PLATFORM_DRIVER=y
CONFIG_SND_HDA_PLATFORM_NVIDIA_TEGRA=y
CONFIG_SND_HDA_POWER_SAVE=y
CONFIG_SND_HDA_POWER_SAVE_DEFAULT=10
CONFIG_SND_SOC_TEGRA_WM8903=y
CONFIG_ACER_ES305=y
CONFIG_MMC_PARANOID_SD_INIT=y
CONFIG_ACER_LEDS=y
CONFIG_SWITCH_GPIO=y
CONFIG_SIMDETECT=y
CONFIG_RTC_DRV_TPS6591x=y
