CONFIG_RD_LZMA=y
CONFIG_ARCH_ASUS_T30=y
CONFIG_MACH_TRANSFORMER=y
CONFIG_TEGRA_BB_XMM_POWER=y
CONFIG_CMDLINE="tegra_wdt.heartbeat=30 androidboot.selinux=permissive"
CONFIG_IP_MULTICAST=y
CONFIG_USB_NET_RNDIS_WLAN=y
CONFIG_USB_NET_RAW_IP=y
CONFIG_BCMDHD_NVRAM_PATH="/system/etc"
# CONFIG_DHD_USE_SCHED_SCAN is not set
CONFIG_INPUT_ASUSEC=y
CONFIG_ASUSPEC=y
CONFIG_ASUSDEC=y
CONFIG_TOUCHSCREEN_ELAN_TF_3K=y
CONFIG_TOUCHSCREEN_ATMEL_MXT=y
CONFIG_GPIO_TPS65910=y
CONFIG_BATTERY_PAD=y
CONFIG_SENSORS_AL3010=y
CONFIG_MFD_TPS65910=y
CONFIG_MFD_TPS6591X=y
CONFIG_REGULATOR_TPS65910=y
CONFIG_REGULATOR_TPS62360=y
CONFIG_REGULATOR_TPS6591X=y
CONFIG_TEGRA_NVHDCP=y
CONFIG_SND_HDA_INTEL=y
CONFIG_SND_HDA_PLATFORM_DRIVER=y
CONFIG_SND_HDA_PLATFORM_NVIDIA_TEGRA=y
CONFIG_SND_SOC_TEGRA_RT5631=y
CONFIG_SND_SOC_TEGRA_WM8903=y
CONFIG_AUDIO_DOCK=y
CONFIG_DSP_FM34=y
CONFIG_HEADSET_FUNCTION=y
CONFIG_USB_HIDDEV=y
CONFIG_USB_SERIAL_BASEBAND=y
CONFIG_RTC_DRV_TPS6591x=y
CONFIG_ANDROID_TIMED_GPIO=y
CONFIG_INV_SENSORS_TIMERIRQ=y
CONFIG_INV_SENSORS=y
CONFIG_INV_SENSORS_MPU3050=y
CONFIG_INV_SENSORS_MPU3050_GYRO=y
CONFIG_INV_SENSORS_ACCELEROMETERS=y
CONFIG_INV_SENSORS_KXTF9=y
CONFIG_INV_SENSORS_COMPASS=y
CONFIG_INV_SENSORS_AMI306=y
CONFIG_INV_SENSORS_PRESSURE=y
# CONFIG_RIL is not set // fix
CONFIG_DECOMPRESS_LZMA=y
