[project]
[access]
	inheritFrom = unlegacy-android
[access "refs/*"]
	owner = group user/André Pinela (apinela)
[access "refs/for/refs/*"]
	read = group user/André Pinela (apinela)
	push = group user/André Pinela (apinela)
	label-Code-Review = -2..+2 group user/André Pinela (apinela)
	label-Verified = -1..+1 group user/André Pinela (apinela)
	rebase = group user/André Pinela (apinela)
	removeReviewer = group user/André Pinela (apinela)
	submit = group user/André Pinela (apinela)
[access "refs/heads/*"]
	read = group user/André Pinela (apinela)
	create = group user/André Pinela (apinela)
	push = +force group user/André Pinela (apinela)
	pushMerge = group user/André Pinela (apinela)
[access "refs/tags/*"]
	push = +force group user/André Pinela (apinela)
	pushTag = group user/André Pinela (apinela)
	pushSignedTag = group user/André Pinela (apinela)
